body {

}

header {
  text-align: center;
}

#wrapper {
  display:grid;
  grid-template-columns: 80%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 10%;
}

p .song {
  color: navy;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: navy;
}

a:hover {
  text-decoration: none;
  color: navy;
}

a:visited {
  text-decoration: none;
  color: purple;
}

img {
  width: 100%;
  border-radius: 50px;
}

.box {
  padding: 20px;
}

p {
  color: navy;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  color: purple;
  font-family: 'Sofia', cursive;
  font-size: 36px;
  font-weight: normal;
}

h2 {
  color: navy;
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

h3 {
  color: navy;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 4px;
}

h6 {
  color: navy;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
